__pycache__/
stereo4d_dataset/
.ipynb_checkpoints/
demo/*
test/*
train/*
.vscode/*
stereo4d-npz/*
data/*
tracks2d/*
slurm_jobs/*
videogallery/videos/*
videogallery/database_backups/*
baselines/trace_anything/outputs/*
outputs/*
baselines/any4d/outputs/*
*.egg-info
*.pth
priors/SEA-RAFT/*
priors/tapnet/*